{{ define "content" }}

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="major">
                <h2>{{ .Title }}</h2>
                {{ partial "markdownify-block" .Params.subtitle }}
            </header>
            
             <div>
                <ul class="features">
                 {{ range $add := .cats.add_cats }}
                 <li>
                    <p>{{ $add.name_of_cat }}</p>
                    <p>{{ $add.sex_of_cat }}</p>
                    <p>{{ $add.age_of_cat }}</p>
                    <p>{{ $add.breed_of_cat }}</p>
                    <p>{{ $add.sizw_of_cat }}</p>
                    <p>{{ $add.weight_of_cat }}</p>
                    <p>{{ $add.date_posted }}</p>
                    <p>{{ $add.image_of_cat }}</p>
                 </li>
                {{ end }}
                 </ul>
            </div>
            
            <div>
                {{ .Params.form }}
            </div>
            
        </div>
    </section>
