{{ define "content" }}

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="major">
                <h2>{{ .Title }}</h2>
                {{ partial "markdownify-block" .Params.subtitle }}
            </header>
            
             <div class="inner">
                 {{ if .Params.cats }}
                <ul class="features" style="display:flex">
                 {{ range $cat := .Params.cats }}
                 <li style="flex-direction:row">
                     <div>
                    Name:
                    {{ $cat.name_of_cat }}
                     </div>
                     <div>
                     Sex:
                    {{ $cat.sex_of_cat }}
                     </div>
                     <div>
                     Age:
                   {{ $cat.age_of_cat }}
                     </div>
                     <div>
                     Breed:
                   {{ $cat.breed_of_cat }}
                     </div>
                     <div>
                     Size:
                    {{ $cat.size_of_cat }}
                     </div>
                     <div>
                     Weight:
                    {{ $cat.weight_of_cat }}
                     </div>
                     <div>
                     For adoption since:
                    {{ $cat.date_posted }}
                     </div>
                 </li>
                    {{ end }}
                 </ul>
                  {{ end }}
            </div>
            
            <div>
                {{ .Params.form }}
            </div>
            
        </div>
    </section>
{{ end }}
