{{ define "content" }}

    <!-- Main -->
    <section id="main" class="wrapper">
        <div class="inner">
            <header class="major">
                <h2>{{ .Title }}</h2>
                {{ partial "markdownify-block" .Params.subtitle }}
            </header>
            
             <div>
                <ul class="features">
                 {{ range $cat := .Params.cats }}
                 <li>
                    <h3>Name:</h3>
                    <p>{{ $cat.name_of_cat }}</p>
                     <h3>Sex:</h3>
                    <p>{{ $cat.sex_of_cat }}</p>
                     <h3>Age:</h3>
                    <p>{{ $cat.age_of_cat }}</p>
                     <h3>Breed:</h3>
                    <p>{{ $cat.breed_of_cat }}</p>
                     <h3>Size:</h3>
                    <p>{{ $cat.size_of_cat }}</p>
                     <h3>Weight:</h3>
                    <p>{{ $cat.weight_of_cat }}</p>
                     <h3>For adoption since:</h3>
                    <p>{{ $cat.date_posted }}</p>
                 </li>
                    {{ end }}
                 </ul>
            </div>
            
            <div>
                {{ .Params.form }}
            </div>
            
        </div>
    </section>
{{ end }}
